<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}"
>
<head>
    <meta charset="UTF-8">
    <title>UpdateForm</title>
    <meta charset="UTF-8">
    <link rel="stylesheet"  media="all" th:href="@{/css/productform.css}"/>
</head>
<body>
<section layout:fragment="content">

    <div class="container mt-4">
        <form method="post" enctype="multipart/form-data" th:action="@{'/products/update/'+${product.productId}}" th:object="${productRequest}">
            <div class="form-group">
                <label for="title">Title</label>
                <input th:field="${productRequest.title}" type="text" class="form-control" id="title"  placeholder="Enter title">
            </div>
            <div class="form-group">
                <label for="brand">Brand</label>
                <input th:field="${productRequest.brand}"  type="text" class="form-control" id="brand" placeholder="Enter brand">
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <input th:field="${productRequest.description}" type="text" class="form-control" id="description" placeholder="Enter description">
            </div>
            <div class="form-group">
                <label for="file">Upload File</label>
                <input th:field="${productRequest.file}"  name="data" type="file" class="form-control" id="file">
            </div>
            <div class="form-group">
                <label for="categories">Choose an option</label>
                <select th:field="${product.category}" class="form-control" id="categories">
                    <option  th:value="${category.categoryId}"
                             th:each="category:${categories}"><span th:text="${category.name}"></span></option>
                </select>
            </div>
            <button aria-describedby="button-submit" type="submit" class="btn btn-primary">Submit</button>
            <p id="button-submit"  class="form-text text-muted">
                Click send if you filled the form!
            </p>
        </form>
    </div>
</section>
</body>
</html>